
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100vw;
	height:100vh;
	flex-direction:row;
	flex-wrap:wrap;
	gap:10px;

}
.item{
	background-color:red;
	width:100px;
	height:100px;
	text-align:center;
}